  
  
  @media screen and (max-width:560px) {
    .filter{
      display: none;
    }
  }
 
  
  .container3 {
    position: relative;
    --size-button: 40px;
    color: white;
  }
  
  .input2 {
    padding-left: var(--size-button);
    height: var(--size-button);
    font-size: 15px;
    border: none;
    color: #fff;
    outline: none;
    width: var(--size-button);
    transition: all ease 0.3s;
    background-color: #191A1E;
    box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .input2:focus,
  .input2:not(:invalid) {
    width: 200px;
    cursor: text;
    box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
  }
  
  .input2:focus + .icon,
  .input2:not(:invalid) + .icon {
    pointer-events: all;
    cursor: pointer;
  }
  
  .container3 .icon {
    position: absolute;
    width: var(--size-button);
    height: var(--size-button);
    top: 0;
    left: 0;
    padding: 8px;
    pointer-events: none;
  }
  
  .container3 .icon svg {
    width: 100%;
    height: 100%;
  }
  
  
  
  
  .li>.ul{
     transform: translatex(100%) scale(0) 
    }

  .li:hover>.ul{ 
    transform: translatex(101%) scale(1) 
  }

  li > button svg{
     transform: rotate(-90deg) 
    }

  li:hover > button svg{
     transform: rotate(-270deg) 
    }

  
  .group:hover .group-hover\:scale-100 { transform: scale(1) }
  .group:hover .group-hover\:-rotate-180 { transform: rotate(180deg) }
  .scale-0 { transform: scale(0) }
  .min-w-32 { min-width: 8rem }

 